.user-box {
  border: 1px solid #e2cfcf;
  border-collapse: collapse;
  border-radius: 4px;
  list-style: none;
  width: 50%;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #8f5656;
  padding: .5rem;
}
